language: php

php:
  - 7.0
  - 7.1
  - 7.2

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --prefer-source --no-interaction --dev

script: phpunit

after_script:
  - php vendor/bin/codacycoverage clover path/to/clover.xml
